<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
        <!--<welcome-file>FilmController</welcome-file>-->    
    </welcome-file-list>
    <servlet>
        <servlet-name>FilmController</servlet-name>
        <servlet-class>Controllers.FilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uitlenen</servlet-name>
        <servlet-class>Controllers.Uitlenen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekByTitel</servlet-name>
        <servlet-class>Controllers.ZoekByTitel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekByGenre</servlet-name>
        <servlet-class>Controllers.ZoekByGenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekByActeur</servlet-name>
        <servlet-class>Controllers.ZoekByActeur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>Controllers.DetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilmController</servlet-name>
        <url-pattern>/FilmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uitlenen</servlet-name>
        <url-pattern>/Uitlenen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekByTitel</servlet-name>
        <url-pattern>/ZoekByTitel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekByGenre</servlet-name>
        <url-pattern>/ZoekByGenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekByActeur</servlet-name>
        <url-pattern>/ZoekByActeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/DetailsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
